---
const { Title, Height } = Astro.props
---

<div class=`${Height} bg-black-ground rounded-xl max-sm:px-8`>
  <h2 class='text-center text-4xl font-semibold font-Primary py-12'>
    {Title}
  </h2>
  <slot />
</div>
