<section class="w-[1120px] py-24" id="Sobre-mi">
    <h2 class="text-center font-Primary font-semibold text-5xl text-light-green py-6">Acerca de mi</h2>
    <p class="text-4xl font-Satoshi">
        I'm Jeremy Amaru, with over 5 years of experience in design & development with strong 
        focus on producing high quiality & impactful digital experiences. I have worked
        with some of the most innovative industry leaders to help build their top-notch products.
    </p>
</section>