<section class="w-[1120px] py-24" id="Sobre-mi">
    <h2 class="text-center font-Primary font-semibold text-5xl text-light-green py-6">Acerca de mí</h2>
    <p class="text-2xl font-semibold">
        Desarrollador <span class="text-dark-green">frontend</span> con nociones de 
        <span class="text-dark-green">backend</span>, especializado en crear 
        interfaces modernas, funcionales y escalables. <br> Formado en la Universidad 
        de Tarapacá, Chile, complementé mis estudios con cursos y certificados en 
        programación y diseño web. Mi motivación es <span class="text-yellow-green">liderar</span>, 
        cultivando <span class="text-yellow-green">conexiones auténticas</span> 
        que potencien la interacción, el <span class="text-yellow-green">compromiso</span> 
        y los resultados del equipo.
    </p>
</section>