---
import ButtonAnimateRotate from "../../ui/ButtonAnimateRotate.astro"
---
<section class="flex gap-12 items-center h-[480px] w-[1120px] my-10">
    <div>
        <img
        class="rounded-b-[60px] size-80 max-w-[500px]" 
        src="https://media.licdn.com/dms/image/v2/D4E03AQGgdAIGpexvVg/profile-displayphoto-shrink_200_200/B4EZeef4MUHgAY-/0/1750710846700?e=1757548800&v=beta&t=siSix4DN5XUw8ypyTxAu7uzzacTDG8kOVpFqzoIrWNI" alt="Foto Jeremy">
        <button class="relative top-[-30px] left-50">Lets talk</button>
    </div>
    <div class="space-y-2">
        <h1 class="text-6xl font-semibold text-left font-Primary">
            Frontend Developer con
            <span class="text-light-green">nociones en backend</span>
        </h1>
        <span class="block text-4xl ">Jeremy Amaru</span>
        <p class="max-w-[550px] py-2">
            Desarrollo sitios web, aplicando React, 
            TailwindCSS y buenas prácticas de UX/UI para 
            soluciones efectivas y funcionales.
        </p>
        <ButtonAnimateRotate initialText="CV" finalText="CV" />
    </div>
</section>