    <section class="flex gap-12 items-center h-[480px] w-[1120px]">
    <div>
        <img
        class="rounded-b-[60px] size-80" 
        src="https://media.licdn.com/dms/image/v2/D4E03AQGgdAIGpexvVg/profile-displayphoto-shrink_200_200/B4EZeef4MUHgAY-/0/1750710846700?e=1757548800&v=beta&t=siSix4DN5XUw8ypyTxAu7uzzacTDG8kOVpFqzoIrWNI" alt="Foto Jeremy">
        <button class="relative top-[-30px] left-50">Lets talk</button>
    </div>
    <div class="space-y-4">
        <h1 class="text-6xl font-semibold text-left font-Primary">A
            <span class="text-light-green">creative developer</span>
            <span class="block left-0">& digital designer</span>
            <span class="block text-3xl text-light-green">Jeremy Amaru</span>
        </h1>
        <p class="max-w-[450px] font-Primary">
            I collaborate with brands globally to design impactful, mission-focused 
            websites that drive results and achieve business goals.
        </p>
        <button class="bg-black text-white px-6 py-2">CV</button>
    </div>
</section>