---
import BackendTecs from "./Technologies/BackendTecs.astro"
import FrontendTecs from "./Technologies/FrontendTecs.astro"
import LearningTecs from "./Technologies/LearningTecs.astro"
import ToolsTecs from "./Technologies/ToolsTecs.astro"
import DevOps_Testing_QA_Tecs from "./Technologies/DevOps_Testing_QA_Tecs.astro"
import TecsBox from "./Technologies/components/TecsBox.astro"
---
<section class="flex-col w-[1120px] py-4 flex items-center my-16">
    <h2 class="font-Primary text-5xl font-semibold py-20">Tecnologias</h2>
    <div class="grid grid-cols-2 gap-8 w-full">
        <TecsBox Title="Frontend">
            <FrontendTecs />
        </TecsBox>
        <TecsBox Title="Backend">
            <BackendTecs />
        </TecsBox>
        <TecsBox Title="Aprendiendo">
            <LearningTecs />
        </TecsBox>
        <TecsBox Title="Herramientas">
            <ToolsTecs />
        </TecsBox>
    </div>
    <div class="py-8 w-1/2">
        <TecsBox Title="DevOps / Testing / QA">
            <DevOps_Testing_QA_Tecs />
        </TecsBox>
    </div>
</section>