---
import BackendTecs from "./Technologies/BackendTecs.astro"
import FrontendTecs from "./Technologies/FrontendTecs.astro"
import LearningTecs from "./Technologies/LearningTecs.astro"
import ToolsTecs from "./Technologies/ToolsTecs.astro"
import DevOps_Testing_QA_Tecs from "./Technologies/DevOps_Testing_QA_Tecs.astro"
import TecsBox from "./Technologies/components/TecsBox.astro"
import SectionTitle from "../components/SectionTitle.astro"
---

<section
  class='flex-col w-[1120px] max-lg:w-full max-lg:px-8 py-36 max-lg:py-24 flex'
>
  <SectionTitle
    Title='Tecnológias'
    SubTitle='Mi conocimiento'
    Description='Aquí las tecnologías aprendídas en la universidad y de forma didáctica.'
  />
  <div class='grid grid-cols-2 gap-8 w-full max-lg:grid-cols-1'>
    <TecsBox Title='Frontend'>
      <FrontendTecs />
    </TecsBox>
    <TecsBox Title='Backend'>
      <BackendTecs />
    </TecsBox>
    <TecsBox Title='Aprendiendo'>
      <LearningTecs />
    </TecsBox>
    <TecsBox Title='Herramientas'>
      <ToolsTecs />
    </TecsBox>
  </div>
  <div class='py-8 max-lg:w-full w-1/2 mx-auto'>
    <TecsBox Title='DevOps / Testing / QA'>
      <DevOps_Testing_QA_Tecs />
    </TecsBox>
  </div>
</section>
