---
import { IoIosArrowBack } from "react-icons/io"
const { Text } = Astro.props
---

<a
  href=`/${Text}`
  class='flex items-center max-sm:gap-0 hover:border-white duration-300 gap-6 cursor-pointer border border-[#464646] rounded-lg lg:p-2'
>
  <IoIosArrowBack />
  <p class='flex flex-col text-left cursor-pointer py-1 px-4'>
    <span class='text-secondary-text'>Prev</span>
    {Text}
  </p>
</a>
