<div class="pt-24 pb-32 space-y-12" id="Caracteristicas">
    <h2 class="text-4xl font-Primary">Caracteristicas</h2>
    <l class="text-secondary-text [&>li>span]:text-white space-y-4">
        <slot />
    </l>
</div>