---
import SecondLayout from "../layouts/SecondLayout.astro"
import ButtonNext from "../components/Home/components/ButtonNext.astro"
import Features from "../components/Home/components/Features.astro"
import MainWebSection from "../components/Home/components/MainWebSection.astro"
import OverviewSection from "../components/Home/components/OverviewSection.astro"
import TechsBar from "../components/Home/components/TechsBar.astro"
---

<SecondLayout>
  <MainWebSection
    year='2025'
    title='BookMyFit'
    urlImage='/projects/BookMyFit/BookMyFit.jpg'
    description='Web orientada a la gestión de reservas de espacios deportivos en una sede especializada. El sistema permite a los usuarios registrarse, elegir una disciplina deportiva entre una variedad disponible y agendar horarios según la disponibilidad del lugar.'
    urlRepo='https://github.com/Jerimonski/Crud_Front-end.git'
    rol='Front-end'
    client='Proyecto personal'
  >
    <TechsBar>
      <span>HTML</span>
      <span>Javascript</span>
      <span>React</span>
      <span>TailwindCSS</span>
      <span>Node.js</span>
      <span>Express.js</span>
      <span>Jest</span>
      <span>PostgreSQL</span>
      <span>Jenkins</span>
      <span>SonarQube</span>
      <span>Vite</span>
    </TechsBar>
    <OverviewSection>
      Desarrollé una plataforma de reservas deportivas que permite el registro
      de usuarios, la elección de deportes y el agendamiento mediante un
      calendario interactivo. Incluye un panel administrativo para crear
      deportes con información detallada y la generación de reportes en Excel
      con las horas reservadas. El back-end se implementó en Node.js con una API
      REST y arquitectura modular (DTO/DAO/Controllers), utilizando JWT para la
      autenticación y control de roles, además de una base de datos PostgreSQL
      para la gestión de usuarios, horarios y reservas.
    </OverviewSection>
    <div class='pb-16 space-y-12'>
      <h2 class='text-4xl font-Primary'>Imagenes</h2>
      <img
        class='opacity-80'
        src='/projects/BookMyFit/BMF_MoreaboutUs.png'
        alt='BonsaiPracticePrices'
      />
      <img
        class='opacity-80'
        src='/projects/BookMyFit/BMF_adminView.png'
        alt='BonsaiPracticeFooter'
      />
      <img
        class='opacity-80 size-120 m-auto pb-12'
        src='/projects/BookMyFit/BMF_tarjetaAgendada.png'
        alt='BonsaiPracticeFooter'
      />
      <img
        class='opacity-80'
        src='/projects/BookMyFit/BMF_deportesLoaded.png'
        alt='BonsaiPracticeFooter'
      />
      <img
        class='opacity-80'
        src='/projects/BookMyFit/BMF_comentarios.png'
        alt='BonsaiPracticeFooter'
      />
      <img
        class='opacity-80'
        src='/projects/BookMyFit/BMF_footer.png'
        alt='BonsaiPracticeFooter'
      />
    </div>
    <Features>
      <li>
        <span>Registro e inicio de sesión de usuarios</span>: Creación de
        cuentas con permisos diferenciados para usuarios y administradores.
      </li>
      <li>
        <span>Calendario interactivo de reservas</span>: Visualización de
        disponibilidad y agendamiento de sesiones deportivas en tiempo real.
      </li>
      <li>
        <span>Panel de administración</span>: Gestión de deportes con detalles
        como valor por hora, entrenador, título y descripción.
      </li>
      <li>
        <span>Generación de reportes en Excel</span>: Exportación automática de
        horas reservadas para un control organizado.
      </li>
      <li>
        <span>Arquitectura modular de la API</span>: Back-end estructurado con
        DTOs, DAOs y Controllers para escalabilidad y mantenibilidad.
      </li>
      <li>
        <span>Autenticación y autorización con JWT</span>: Control de accesos
        mediante tokens para mayor seguridad.
      </li>
      <li>
        <span>CI/CD y control de calidad de código</span>: Integración continua
        con Jenkins y verificación de buenas prácticas mediante SonarQube.
      </li>
    </Features>
    <div class='absolute right-0 max-lg:pr-8'>
      <ButtonNext Text='BlackShark' />
    </div>
  </MainWebSection>
</SecondLayout>
