---
import SecondLayout from "../layouts/SecondLayout.astro"
---

<SecondLayout>
  <main class="w-[1120px] mx-auto py-20">
    <img src="./images/aora.jpg" alt="" />
    <h1 class="text-2xl font-semibold">BookMyFit</h1>
    <div>AAAAAAAAAAAAA</div>
  </main>
</SecondLayout>
