---
import Layout from '../layouts/Layout.astro';
import MainSection from './Home/MainSection.astro';
import ToolsBarSlider from './Home/ToolsBarSlider.astro';
import AboutMe from './Home/AboutMe.astro';
---

<Layout title="Welcome to my Portfolio">
	<main class="py-10 flex flex-col items-center">
		<MainSection />
		<ToolsBarSlider />
		<AboutMe />
	</main>
</Layout>
