---
import Layout from '../layouts/Layout.astro';
import MainSection from './Home/MainSection.astro';
import Tecnologies from './Home/Tecnologies.astro';
import AboutMe from './Home/AboutMe.astro';
import MyWork from './Home/MyWork/MyWork.astro';
---

<Layout title="Welcome to my Portfolio">
	<main class="py-10 flex flex-col items-center">
		<MainSection />
		<AboutMe />
		<Tecnologies />
		<MyWork />
	</main>
</Layout>
