---
import Layout from "../layouts/Layout.astro"
import MainSection from "../components/Home/MainSection.astro"
import Technologies from "../../src/components/Home/Technologies.astro"
import AboutMe from "../components/Home/AboutMe.astro"
import MyWork from "../components/Home/MyWork/MyWork.astro"
---

<Layout title='Welcome to my Portfolio'>
  <main class='py-10 flex flex-col items-center'>
    <MainSection />
    <AboutMe />
    <Technologies />
    <MyWork />
  </main>
</Layout>
