---
import SectionTitle from "../../components/Home/components/SectionTitle.astro"
---

<section
  class='w-[1120px] py-36 max-lg:w-full max-lg:py-24 max-lg:px-8'
  id='Sobre-mi'
>
  <SectionTitle
    Title='Acerca de mí'
    SubTitle='Mi historia'
    Description='Aquí un breve relato de mis estudios y motivaciones.'
  />
  <p class='text-3xl/12 max-sm:text-2xl'>
    Desarrollador <span class='text-dark-green'>frontend</span> con nociones de
    <span class='text-dark-green'>backend</span>, especializado en crear
    interfaces web modernas, funcionales y escalables. <br /> Formado en la Universidad
    de Tarapacá (UTA), Chile, complementé mis estudios con cursos, certificados en
    programación y diseño web. Mi motivación es <span class='text-yellow-green'
      >liderar</span
    >, cultivando <span class='text-yellow-green'>conexiones auténticas</span>
    que potencien la interacción, el <span class='text-yellow-green'
      >compromiso</span
    >
    y los resultados del equipo.
  </p>
</section>
