---
import { BsMouse } from "react-icons/bs"
import ButtonCv from "../../ui/ButtonCv.astro"
---

<section
  class='flex flex-col items-center max-lg:h-full h-[880px] w-[1120px] py-48 max-lg:py-28 relative max-lg:w-full max-lg:px-8'
>
  <div class='flex gap-12 max-lg:flex-col max-lg:place-items-center'>
    <div class='relative'>
      <img
        class='rounded-[120px] size-100 top-0 max-w-[600px] max-lg:size-full'
        src='/images/IAM.png'
        alt='Foto Jeremy'
      />
    </div>
    <div class='space-y-4 max-lg:space-y-6 max-lg:flex max-lg:flex-col'>
      <h1
        class='text-6xl max-sm:text-5xl text-light-green font-semibold text-left font-Primary'
      >
        Frontend Developer
        <span class='text-white'>con nociones en backend</span>
      </h1>
      <span class='block max-sm:text-3xl text-4xl font-Primary'
        >Jeremy Amaru</span
      >
      <p class='max-w-[550px] py-2'>
        Desarrollo sitios web, aplicando React, TailwindCSS y buenas prácticas
        de UX/UI para soluciones efectivas y funcionales.
      </p>
      <ButtonCv initialText='CV' finalText='CV' />
    </div>
  </div>
  <div class='animate-bounce absolute bottom-0 py-12 max-lg:hidden'>
    <BsMouse size={40} />
  </div>
</section>
