---
import TecsContent from "./components/TecsContent.astro"
import { Icons } from "./TechsIcons/ToolsIcons"
const icons = Icons.Tools
---

<TecsContent>
  {
    icons.map((icon) => (
      <div>
        <icon.icon />
        <span>{icon.name}</span>
      </div>
    ))
  }
  <figure class='items-center flex flex-col space-y-4 text-lg'>
    <img
      src='/technologies/Tools/GitHub.png'
      alt='GitHub Icon'
      class='size-24'
    />
    <figcaption>GitHub</figcaption>
  </figure>
  <figure class='items-center flex flex-col space-y-4 text-lg'>
    <img
      src='/technologies/Tools/VisualStudioCode.png'
      alt='Visual Studio Code Icon'
      class='size-24'
    />
    <figcaption>Visual Studio Code</figcaption>
  </figure>
</TecsContent>
