---
import ButtonAnimateRotate from '../ui/ButtonAnimateRotate.astro'
import { FaLinkedinIn } from "react-icons/fa";
import { CgMail } from "react-icons/cg";
import { FaGithub } from "react-icons/fa";
---

<footer class="w-[1120px] mx-auto pt-32">
    <div class="bg-black-ground space-y-4 text-center py-22 rounded-4xl">
        <article class="flex items-center mx-auto gap-2 w-48 p-2 rounded-4xl bg-[#0d2b0f]">
            <hr class="animate-ping bg-[#98dd99] size-2 rounded-full">
            <hr class="absolute bg-[#98dd99] size-2 rounded-full opacity-70">
            <h4 class="text-sm">Disponible para trabajo</h4>
        </article>
        <h2 class="text-6xl pb-6 font-semibold font-Primary">Vamos a crear tu<span class="block">nueva gran idea.</span></h2>
        <ButtonAnimateRotate initialText="Contáctame" finalText="Contáctame"/>
    </div>
    <div class="flex justify-between py-4">
        <a href="/" class="bg-black-ground p-2">JA</a>
        <nav class="flex gap-2 items-center group [&>a]:p-2">
            <a 
            class="transition-opacity duration-300 ease-in-out
            group-hover:opacity-40 hover:opacity-100"
            target="_blank" href="https://www.linkedin.com/in/jeremy-amaru"
            ><FaLinkedinIn size="20" /></a>
            <a
            class="transition-opacity duration-300 ease-in-out
            group-hover:opacity-40 hover:opacity-100"
            target="_blank" href=""><CgMail size="30"/></a>
            <a 
            class="transition-opacity duration-300 ease-in-out
            group-hover:opacity-40 hover:opacity-100"
            target="_blank" href="https://github.com/Jerimonski"><FaGithub size="25" /></a>
        </nav>
    </div>
</footer>