<header class="w-[1120px] flex justify-between mx-auto items-center flex-grow basis-0 py-2">
    <a href="/">JA</a>
    <nav class="[&>a]:px-2">
        <a href="/">Home</a>
        <a href="About">Acerca de</a>
        <a href="Projects">Proyectos</a>
        <a href="Contact">Contactos</a>
    </nav>
    <span>darkmode</span>
</header>