---
import { TbUfo } from "react-icons/tb";
---
<header class="w-full fixed z-50">
    <nav class="w-[1120px] mx-auto flex justify-between items-center flex-grow basis-0 py-4 backdrop-blur-sm">
        <a class="p-2" href="/">JA</a>
        <ul class="[&>a]:p-2 group relative">
            <a class="group-hover:opacity-40 hover:opacity-100 duration-300 " href="/">Home</a>
            <a class="group-hover:opacity-40 hover:opacity-100 duration-300" href="#Imagenes">Imagenes</a>
            <a class="group-hover:opacity-40 hover:opacity-100 duration-300" href="#Sobre_el_proyecto">Sobre el proyecto</a>
            <a class="group-hover:opacity-40 hover:opacity-100 duration-300" href="Contactame">Contactame</a>
        </ul>
        <span class="animation-ping duration-100 hover:rotate-30 p-2">
            <TbUfo size={30} /> 
        </span>
    </nav>
</header>

