---
import TecsContent from "./components/TecsContent.astro"
import { Icons } from "./TechsIcons/DevOps_Testing_QA"
const icons = Icons.DevOps_Testing_QA
---

<TecsContent>
  {
    icons.map((icon) => (
      <div>
        <icon.icon />
        <span>{icon.name}</span>
      </div>
    ))
  }
</TecsContent>
