---
import TecsContent from "./components/TecsContent.astro"
import { Icons } from "./TechsIcons/LearningIcons"
const icons = Icons.Learning
---

<TecsContent>
  {
    icons.map((icon) => (
      <div>
        <icon.icon />
        <span>{icon.name}</span>
      </div>
    ))
  }
  <figure class='items-center flex flex-col space-y-4 text-lg'>
    <img
      src='/technologies/Learning/Astro.png'
      alt='Astro Icon'
      class='size-24'
    />
    <figcaption>Astro</figcaption>
  </figure>
</TecsContent>
