---
import Header from "../components/Header.astro"
import ContactFooter from "../components/ContactFooter.astro"
import "../styles/global.css";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio</title>
	</head>
	<body>
		<Header/>
		<slot />
		<ContactFooter />
	</body>
</html>

<style>
	html{
		scroll-behavior: smooth;
		background-color: rgb(11, 11, 13);
		color: white;
	},
	body {
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	},
	@media (prefers-reduced-motion: reduce) {
		html{
			scroll-behavior: auto;
		}
	}
</style>
