---
import SectionTitle from "../components/SectionTitle.astro"
import ProjectCard from "./components/ProjectCard.astro"
---

<section class='w-[1120px] max-lg:w-full max-lg:px-8 py-36' id='Proyectos'>
  <SectionTitle
    Title='Algunos de mis proyectos'
    SubTitle='Mi Trabajo'
    Description='Aquí una selección que muestra mi experiencia y los resultados obtenidos.'
  />
  <div class='flex justify-center flex-cols-2 max-lg:flex-col gap-24 group'>
    <div class='flex-grow space-y-12 w-1/2 max-lg:w-full max-lg:space-y-24'>
      <ProjectCard
        Title='BookMyFit'
        Rol='FullStack'
        Year='2025'
        image='/projects/BookMyFit/BookMyFit.jpg'
        repoUrl='https://github.com/Jerimonski/BookMyFit_Front-end.git'
      >
        <p class='text-pretty'>
          Web orientada a la gestión de reservas de espacios deportivos en una
          sede especializada. El sistema permite a los usuarios registrarse,
          elegir una disciplina deportiva entre una variedad disponible y
          agendar horarios según la disponibilidad del lugar.
        </p>
        <div
          class='flex w-full flex-wrap gap-2 justify-center py-6 [&>span]:bg-gray-label'
        >
          <span class='rounded-4xl px-4 py-1'>Javascript</span>
          <span class='rounded-4xl px-4 py-1'>React</span>
          <span class='rounded-4xl px-4 py-1'>TailwindCSS</span>
          <span class='rounded-4xl px-4 py-1'>Node.js</span>
          <span class='rounded-4xl px-4 py-1'>Jest</span>
          <span class='rounded-4xl px-4 py-1'>Express.js</span>
          <span class='rounded-4xl px-4 py-1'>PostgreSQL</span>
          <span class='rounded-4xl px-4 py-1'>Jenkins</span>
          <span class='rounded-4xl px-4 py-1'>SonarQube</span>
          <span class='rounded-4xl px-4 py-1'>Vite</span>
        </div>
      </ProjectCard>
      <ProjectCard
        Title='StrideVault'
        Rol='Front-end'
        Year='2023'
        image='/projects/StrideVault/StrideVaultHome.jpg'
        repoUrl='https://github.com/Jerimonski/StrideVault.git'
      >
        <p>
          Landing page interactiva enfocada en la presentación de zapatillas
          urbanas como Nike, Jordan y otras marcas. El usuario puede explorar
          distintos modelos, navegar entre páginas y acceder a una vista
          detallada de cada producto.
        </p>
        <div
          class='flex w-full flex-wrap gap-2 justify-center py-6 [&>span]:bg-gray-label'
        >
          <span class='rounded-4xl px-4 py-1'>HTML</span>
          <span class='rounded-4xl px-4 py-1'>Javascript</span>
          <span class='rounded-4xl px-4 py-1'>React</span>
          <span class='rounded-4xl px-4 py-1'>Tailwind</span>
          <span class='rounded-4xl px-4 py-1'>Vite</span>
        </div>
      </ProjectCard>
    </div>
    <div
      class='flex-grow mt-10 [&>div]:rounded-3xl space-y-12 w-1/2 max-lg:w-full max-lg:space-y-24'
    >
      <ProjectCard
        Title='BlackShark'
        Rol='Front-end'
        Year='2024'
        image='/projects/BlackShark/BlackSharkHome.jpg'
        repoUrl='https://github.com/IgnacioBarraza/BlackSharkWeb.git'
      >
        <p>
          Web orientada a un cliente real del rubro fotográfico, en la que mi
          aporte consistió en el desarrollo de nuevas interfaces gráficas y la
          refactorización del código para mejorar su rendimiento y organización.
        </p>
        <div
          class='flex w-full flex-wrap gap-2 justify-center py-6 [&>span]:bg-gray-label'
        >
          <span class='rounded-4xl px-4 py-1'>HTML</span>
          <span class='rounded-4xl px-4 py-1'>Javascript</span>
          <span class='rounded-4xl px-4 py-1'>React</span>
          <span class='rounded-4xl px-4 py-1'>TypeScript</span>
          <span class='rounded-4xl px-4 py-1'>Tailwind</span>
          <span class='rounded-4xl px-4 py-1'>Vite</span>
        </div>
      </ProjectCard>
      <ProjectCard
        Title='BonsaiPractice'
        Rol='Front-end'
        Year='2023'
        image='/projects/BonsaiPractice/BonsaiPracticeHome.jpg'
        repoUrl='https://github.com/Jerimonski/Bonsai_Practice.git'
      >
        <p>
          Landing page de práctica enfocada en la replicación del contenido y
          diseño de una página existente, con el objetivo de perfeccionar
          habilidades de maquetación y estilo.
        </p>
        <div
          class='flex w-full flex-wrap gap-2 justify-center py-6 [&>span]:bg-gray-label'
        >
          <span class='rounded-4xl px-4 py-1'>HTML</span>
          <span class='rounded-4xl px-4 py-1'>Javascript</span>
          <span class='rounded-4xl px-4 py-1'>React</span>
          <span class='rounded-4xl px-4 py-1'>TailwindCSS</span>
          <span class='rounded-4xl px-4 py-1'>Vite</span>
        </div>
      </ProjectCard>
    </div>
  </div>
</section>
